
{% extends 'base.html' %} <!-- Este template se baseia no template 'base.html'. Todos os blocos definidos em 'base.html' podem ser preenchidos aqui -->

{% block head %} <!-- Inicio do bloco 'head', onde podemos adicionar conteúdos específicos para o cabeçalho -->
    <title> --- Listagem de Produtos --- </title> <!-- Define o título que será exibido na aba do navegador -->
{% endblock %} <!-- Fim do bloco 'head' -->

{% block body %} <!-- Inicio do bloco 'body', onde podemos adicionar conteúdos específicos para o corpo da página -->

    {% if produtos %} <!-- Verifica se existe uma lista de produtos. Se existir, exibe a tabela de produtos -->

        <h3> --- Produtos --- </h3> <!-- Cabeçalho da página -->

        <table class="table"> <!-- Inicia a tabela. A classe 'table' é uma classe do Bootstrap para estilizar tabelas -->

            <!-- Define os cabeçalhos da tabela -->
            <tr> <!-- Inicia a linha de cabeçalho -->
                <td>ID</td>
                <td>Descrição</td>
                <td>Preço</td>
                <td>Status</td>
                <td>Atualizar</td>
                <td>Deletar</td>
            </tr> <!-- Fim da linha de cabeçalho -->

            {% for produto in produtos %} <!-- Para cada produto na lista de produtos, cria uma nova linha na tabela -->
                <tr> <!-- Inicia a linha para um produto -->
                    <td>{{ produto[0] }}</td> <!-- Exibe o ID do produto -->
                    <td>{{ produto[1] }}</td> <!-- Exibe a descrição do produto -->
                    <td>{{ produto[2] }}</td> <!-- Exibe o preço do produto -->

                    {% if produto[3] %} <!-- Se o produto está ativo -->
                        <td>Ativo</td> <!-- Exibe "Ativo" -->
                    {% else %} 
                        <td>Inativo</td> <!-- Se não, exibe "Inativo" -->
                    {% endif %}

                    {% if produto[3] %} <!-- Se o produto está ativo -->
                        <!-- Exibe um link para inativar o produto -->
                        <td><a class='btn btn-warning' href='{{ url_for('atualizar_produto', id=produto[0], status=0) }}'>Inativar</a></td>
                    {% else %} <!-- Se o produto está inativo -->
                        <!-- Exibe um link para ativar o produto -->
                        <td><a class='btn btn-success' href='{{ url_for('atualizar_produto', id=produto[0], status=1) }}'>Ativar</a></td>
                    {% endif %}

                    <!-- Exibe um link para deletar o produto -->
                    <td><a class='btn btn-danger' href='{{ url_for('deletar_produto', id=produto[0]) }}'>Deletar</a></td>
                </tr> <!-- Fim da linha para um produto -->

            {% endfor %} <!-- Fim do loop for -->

        </table> <!-- Fim da tabela -->

    {% else %} <!-- Se não existem produtos -->
        <!-- Exibe uma mensagem indicando que não existem produtos cadastrados -->
        <h3>Ainda não existem produtos cadastrados...</h3>
    {% endif %}

    <div>
        <!-- Exibe um link para a página de criação de um novo produto -->
        <h3><a class='btn btn-primary' href='{{ url_for('novo_produto') }}'>Adicionar Produto</a></h3>
    </div>

{% endblock %} <!-- Fim do bloco 'body' -->
